@import "bootstrap/scss/bootstrap";
body {
  margin: 0 20px;
}
.field_with_errors {
  display: inline;
  color: red;
  
  input[type=text], input[type=datetime-local], input[type=password] {
    border: 1px solid red;
  }
}
h1 {
margin-top: 10px;
}
button {
  display: inline;
}
button a , button a:hover {
  color: white;
}
.index {
  margin-bottom: 20px;
}
.user {
  display: flex;
  position:absolute;
  right:0px;
}
